<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>About Us</title>
  <link type="text/css" rel="stylesheet" href="/css/reset.css" />
  <link type="text/css" rel="stylesheet" href="/css/base.css" />
  <link type="text/css" rel="stylesheet" href="/css/layout.css" />
  <link type="text/css" rel="stylesheet" href="/css/module.css" />

</head>

<body>
  <main id="nav">
    <!-- Top Nav -->
    <nav>
      <ul>
        <a href="/">
          <li>Food For Now</li>
        </a>
        <a href="/">
          <li>Search</li>
        </a>
        <a href="/foodforlater">
          <li>My List</li>
        </a>
        <a href="/aboutUs">
          <li>About Us</li>
        </a>
      </ul>
    </nav>
 
    <section>
      <!-- Dev Cards -->
        <article>
          <img src="https://images.unsplash.com/photo-1539808505172-71ad23d99b4a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3034&q=80"></img>
          <div>
            <h2>(They/Them) Steven Miyauchi</h2>
            <h4>Hobbies:</h4>
            <ul>
              <li>Tennis</li> 
              <li>League Of Legends</li>
              <li>Music</li>
            </ul>
            <h4>Skills:</h4>
            <ul>
                <li>HTML</li>
                <li>JavaScript</li>
                <li>CSS</li>
                <li>PostGres</li>
            </ul>
          </div>
          <div>
            <h4>Social Links:</h4>
            <ul>
              <a href="https://www.facebook.com/steven.miyauchi">
                <li>Facebook</li>
              </a>
            </ul>
          </div>
        </article>
    </section>

    <!-- Footer -->
    <footer>
      <ul>
        <li>Food For Now &copy; 2020</li>
        <li>Built by: Cavendish Bananas</li>`
      </ul>
    </footer>
  </main>
</body>
</html>