<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>About Us</title>
  <link type="text/css" rel="stylesheet" href="/css/reset.css" />
  <link type="text/css" rel="stylesheet" href="/css/base.css" />
  <link type="text/css" rel="stylesheet" href="/css/layout.css" />
  <link type="text/css" rel="stylesheet" href="/css/module.css" />

</head>

<body>
  <main id="aboutUsMain">
    <!-- Top Nav -->
    <nav>
      <ul>
        <a href="/">
          <li>Food For Now</li>
        </a>
        <a href="/">
          <li>Search</li>
        </a>
        <a href="/foodforlater">
          <li>My List</li>
        </a>
      </ul>
    </nav>
    <section id="aboutUsSection">
      <!-- Dev Cards -->
        <article>
          <img src="https://images.unsplash.com/photo-1528279335935-f486951a6adf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2106&q=80"></img>
          <div>
            <h2>Steven Miyauchi (He/Him)</h2>
            <h4>Hobbies:</h4>
            <ul>
              <li>Tennis</li>
              <li>League Of Legends</li>
              <li>Music</li>
            </ul>
            <h4>Skills:</h4>
            <ul>
                <li>HTML</li>
                <li>JavaScript</li>
                <li>CSS</li>
                <li>PostGres</li>
            </ul>
          </div>
          <div>
            <h4>Social Links:</h4>
            <ul>
              <a href="https://www.linkedin.com/in/steven-miyauchi-b11a5497/">
                <li>LinkedIn</li>
              </a>
            </ul>
          </div>
        </article>
        <article>
          <img src="https://images.unsplash.com/photo-1539808505172-71ad23d99b4a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3034&q=80"></img>
          <div>
            <h2>Brandon Gibbs (he/him) </h2>
            <h4>Hobbies: </h4>
            <ul>
              <li>Tech</li>
              <li>Wood and cement work</li>
              <li>Music / Movies</li>
            </ul>
            <h4>Skills:</h4>
            <ul>
                <li>HTML/CSS</li>
                <li>JavaScript</li>
                <li>Postgres</li>
                <li>Git / GitHub</li>

            </ul>
          </div>
          <div>
            <h4>Social Links:</h4>
            <ul>
              <a href="https://www.linkedin.com/in/brandon-gibbs-1211673a/">
                <li>LinkedIn</li>
              </a>
            </ul>
          </div>
        </article>
        <article>
          <img src="https://images.unsplash.com/photo-1539808505172-71ad23d99b4a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3034&q=80"></img>
          <div>
            <h2>(They/Them) Steven Miyauchi</h2>
            <h4>Hobbies:</h4>
            <ul>
              <li>Tennis</li>
              <li>League Of Legends</li>
              <li>Music</li>
            </ul>
            <h4>Skills:</h4>
            <ul>
                <li>HTML</li>
                <li>JavaScript</li>
                <li>CSS</li>
                <li>PostGres</li>
            </ul>
          </div>
          <div>
            <h4>Social Links:</h4>
            <ul>
              <a href="https://www.facebook.com/steven.miyauchi">
                <li>Facebook</li>
              </a>
            </ul>
          </div>
        </article>
        <article>
          <img src="https://images.unsplash.com/photo-1539808505172-71ad23d99b4a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3034&q=80"></img>
          <div>
            <h2>(They/Them) Steven Miyauchi</h2>
            <h4>Hobbies:</h4>
            <ul>
              <li>Tennis</li>
              <li>League Of Legends</li>
              <li>Music</li>
            </ul>
            <h4>Skills:</h4>
            <ul>
                <li>HTML</li>
                <li>JavaScript</li>
                <li>CSS</li>
                <li>PostGres</li>
            </ul>
          </div>
          <div>
            <h4>Social Links:</h4>
            <ul>
              <a href="https://www.facebook.com/steven.miyauchi">
                <li>Facebook</li>
              </a>
            </ul>
          </div>
        </article>
        <article>
          <img src="https://images.unsplash.com/photo-1539808505172-71ad23d99b4a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3034&q=80"></img>
          <div>
            <h2>Brody Rebne (he/him)</h2>
            <h4>Hobbies:</h4>
            <ul>
              <li>Film</li>
              <li>Music</li>
              <li>Ping Pong</li>
            </ul>
            <h4>Skills:</h4>
            <ul>
              <li>JavaScript</li>
              <li>HTML/CSS</li>
              <li>UX/UI Design</li>
              <li>Ping Pong</li>
            </ul>
          </div>
          <div>
            <h4>Social Links:</h4>
            <ul>
              <a href="https://www.linkedin.com/in/brody-rebne/">
                <li>LinkedIn</li>
              </a>
              <a href="https://github.com/brody-rebne">
                <li>GitHub</li>
              </a>
            </ul>
          </div>
        </article>
    </section>

    <!-- Footer -->
    <footer>
      <ul>
        <li>Food For Now &copy; 2020</li>
        <li>Built by: Cavendish Bananas</li>
      </ul>
    </footer>
  </main>
</body>
</html>