<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food For Later</title>
</head>
<body>
<main>
    <!-- Top Nav -->
    <nav>
        <ul>
            <a href="/"><li>Food For Now</li></a>
            <!-- Search will be hidden on the Home page: index.ejs -->
            <a href="/" ><li>Search</li> </a>
            <a href="/foodforlater" ><li>My List</li>
        </ul>
    </nav>

    <!-- Search Form -->
    <form>
        <input type="text" value="ingredients" placeholder="Type in some ingredients..." />
        <button id="searchButton" type="submit">Find Recipies</button>
    </form>

    <!-- Register / Login -->
    <ul>
        <li>Register</li>
        <li>Log In</li>
    </ul>

    <!-- Footer -->
    <footer>

        <ul>
            <li>Food For Now &copy; 2020</li>
            <li>Built by: Cavendish Bananas</li>`
        </ul>

    </footer>


</main>   
</body>
</html>