<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food For Later</title>
    <link type="text/css" rel="stylesheet" href="/css/reset.css" />
    <link type="text/css" rel="stylesheet" href="/css/base.css" />
    <link type="text/css" rel="stylesheet" href="/css/layout.css" />
    <link type="text/css" rel="stylesheet" href="/css/module.css" />
    
</head>

<body>
  <main id="indexMain">
    <!-- Top Nav -->
    
    <nav>
      <ul>
        <a href="/">
          <li>Food For Now</li>
        </a>
        <a href="/">
          <li>Search</li>
        </a>
        <a href="/foodforlater">
          <li>My List</li>
        </a>
        <a href="/aboutUs">
          <li>About Us</li>
        </a>
      </ul>
    </nav>
    
    <div class="overlay">
    <!-- Search Form -->
    
        <form id="searchForm" action="/search" method="POST">
            <input type="text" name="search" placeholder="Type in some ingredients..." />
            <button id="searchButton" type="submit">Find Recipes</button>
            <!-- Register / Login -->
            <ul>
                <li>Register</li>
                <li>Log In</li>
            </ul>
        </form>
    </div>
    <!-- Footer -->
    
    
    
    <footer>
  
      <ul>
        <li>Food For Now &copy; 2020</li>
        <li>Built by: Cavendish Bananas</li>
      </ul>
  
    </footer>
  </main>
</body>

</html>