<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipie Results.</title>
</head>
<body>
<main>
    <!-- Top Nav -->
    <nav>
        <ul>
            <a href="/"><li>Food For Now</li></a>
            <!-- Search will be hidden on the Home page: index.ejs -->
            <a href="/" ><li>Search</li> </a>
            <a href="/foodforlater" ><li>My List</li>
        </ul>
    </nav>

    <section>
        <!-- Recipe Cards -->
        <article>

            <img src="https://placeholder.it/400x200" />
            <h2>Food Name</h2>
            <h4>Ingredients</h4>
            <ul>
                <li>1 cup of placeholder text</li>
                <li>3 cups of variables</li>
                <li>These li tags will</li>
                <li>Be dynamically rendered</li>
            </ul>

        </article>

    </section>






    <!-- Footer -->
    <footer>

        <ul>
            <li>Food For Now &copy; 2020</li>
            <li>Built by: Cavendish Bananas</li>`
        </ul>

    </footer>
</main>    
</body>
</html>