@import url('theme.css');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');

*, *:before, *:after{
    box-sizing: inherit;
}

* {
    box-sizing: border-box;
}

#indexMain {
    background-image: url('/img/foodbg.png');
    background-size: 100vh;
}

#foodForNowMain, #resultsMain {
    background-color: rgb(236, 233, 233);
}

a, a:link, a:visited {
    text-decoration: none;  
    color: #fff;
  }

h1{
    font-size: 1.8rem;
    margin: 14px;
    text-align: center;
    color: #FF9F5C;
    text-shadow: 1px 2px darkslategray;
}

.mainHeading{
    font-size: 4.2rem;
    font-family: 'Amatic SC', cursive;

}

main {
    height: 100vh;
    display:flex;
    flex-direction:column;
    justify-content: space-between;
}



.overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(13, 255, 117, 0.8);
}

/* Navigation */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 21px 14px;
    /* margin-bottom: 42px; */
    background-color: rgba(13, 255, 117, 0.8);
} 

nav ul {
    display: flex;
    align-self: end;
    margin:7px 21px;
}

nav ul li{
    margin-right: 14px;
}

/* form */
#searchForm {
    display: flex;
    flex-direction: column;
    width: 70%;
    align-self: center;
}

#searchForm input{
    align-self: center;
    width: 100%;
    height: 45px;
    margin: 14px;
    margin-bottom: 28px;
    border-radius: 21px; 
    border: none;
    box-shadow: 1px 2px rgb(130, 134, 130);
}

#searchForm button {
    align-self: center;
    height: 35px;
    width: 40%;
    border-radius: 21px;
    box-shadow: 1px 2px rgb(130, 134, 130);
}

#searchForm ul{
    display: flex;
    align-self: center;
    margin: 7px;
}

#searchForm ul li{
    margin: 7px;
}

/* footer */
footer {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 14px;
    background-color: rgba(13, 255, 117, 0.8)
    /* margin-top: 42px; */
}

footer ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer ul li {
    align-self: center;
}


/* Recipes */

/* card container */
section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;    
    width: 90%;
    padding: 14px 0px;
    background-color: rgb(230, 230, 230);
    border-radius: 14px 50px;
}

/* card */
article {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 90%;
    background-color: #83FF69;
    border: 1px solid rgb(84, 232, 105, 0.7);
    border-radius: 14px 50px;
    margin: 21px 0px;
    box-shadow: 3px 4px rgb(95, 95, 95, 0.6);
}

article img {
    border-radius: 14px 50px;
    box-shadow: 1px 2px rgb(95, 95, 95, 0.6);
}

article div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-self: center;
    width: 80%;

}

article h2 {
    font-size: 1.5rem;
    text-align: center;
    /* align-self: center; */
}

article div h4 {
    font-size: 1.1rem;
    font-weight: 300;
}

article > img, h2, h4, ul, button {
    margin-bottom: 7px;
}

article div form {
    display: flex;
    width: 100%;
}
article div form button {
    align-self: flex-end;
}

/* Article Scroll bar */

article::-webkit-scrollbar {
    width: 0px;
    height: 100px;
  }

article::-webkit-scrollbar-track {
    box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.3);
  }
   
article::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
  }

/* Button Styling */

.button {
    border-radius: 21px;
}

.button-no-style{
    border: none;
    background: none;
}

/* Delete Button */
.far, .fa-times-circle{
    color: red;
    font-size: 24px;
    background: none;
    border: none;
}

/* Edit Button */
.fas, .fa-pencil-alt{
    color: rgba(170, 150, 37, 0.884);
    font-size: 24px;    
}

/* Save */
.saveForm {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.save {
    border: none;
    box-shadow: 1px 2px grey;
    background-color: #5CFFA2;
    width: 20%;
    height: 30px;
    border-radius: 21px;
    align-self: flex-end !important;
}

.primary-button {
    background: #FF9F5C;
    border: none;
}

.delete-form {
    display: flex;
    width: 20%;
    align-self: start;
    margin: 0;
    margin-top: -21px;
}

.ingredientsHeadding {
    display: inline-block;
}

.showButton{
    border: none;
    background: none;
    display: inline-block;
    width: 10%;
    text-shadow: 2px honeydew;
    align-self: flex-end;
    margin-right: 28px;
}

.updateForm{
    display: flex;
    justify-content: center;
    margin: 7px 0px;
}

.updateForm input{    
    height: 30px;
    width: 75%;
    border-radius: 50px 0 0 50px;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
}

.updateForm button{
    height: 30px;
    border-radius: 0 50px 50px 0;
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    
}

.editSubmit{
    border: none;
    background: #4FD6FF;
}

.ingredients-heading h4{
    display: inline;
}



.hidden {
    display: none;
}

#aboutUsSection article img{
    width: 100%;
    height: 300px;
}


@media (min-width: 768px) {
    
    section{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    article{
        width: 45%;
        min-height: 500px;
        max-height: 500px;
        overflow-y: scroll;
    }
}

@media (min-width: 1020px){
    article{
        width: 30%;
    }
}