@import url('theme.css');

/* nav {
    background: orange;
    width: 100%;
    height: 2.5 rem;
    display: flex;
    margin-bottom: 40px;
    padding: 14px;
}

nav ul{
    display: flex;
    justify-content: space-between;
    align-self: flex-end;
} */

